@use './scss/page';
@use './scss/components/header';
@use './scss/components/mainArticle';
@use './scss/components/sidebar';
@use './scss/components/footerArticle';
@use './scss/components/attribution';

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-ExtraBold.ttf');
  font-weight: 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Inter';
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-weight: 800;
}

body {
  width: 99vw;
}

#app {
  position: relative;
  width: 100%;
  padding-bottom: 10rem;
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0rem;
  }
}