@use './abstract/var' as v;

* {
    font-family: 'Inter';
}

.page {
    height: 100%;
    padding: 1.825rem 1rem;
    background: v.$off-white;
}

@media (min-width: 1024px){
    .page {
        display: grid;
        grid-template-columns: 250px 418px 24px 318px;
        grid-template-rows: 40px 56px 300px 212px 72px 128px;
        grid-template-areas: 
        "header header header header "
        ".      .      .      .      "
        "main   main   .      sidebar"
            "main   main   .      sidebar"
            ".      .      .      ."
            "footer footer footer footer "
            ;
        padding: 4rem 2rem;
    }
}
@media (min-width: 1200px){
    .page {
        grid-template-columns: 280px 448px 32px 348px;
        padding: 5.5rem 2rem 8rem 2rem;
    }
}
